    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    html {
        font-family: 'Arvo', serif;
    }

    body {
        max-width: 100%;
        background-color: #FFFFFF;
    }

    header {
        background: #E9F1FA;
        border-radius: 10px;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        gap: 5%;
        padding: 5% 0;
        margin: 0;
    }

    .main {
        padding: 5%;
    }
    nav ul {
        list-style-type: none;
        display: grid;
        min-height: 3vh;
        max-width: 100%;
        grid-template-columns: repeat(4, 50px);
        gap: 5%;
        justify-content: flex-start;
        
    }

    li a {

        text-decoration: none;
        color: black;

    }

    li a:hover {
        border-bottom: 1px solid #00ABE4;

    }

    h1 {
        font-size: 1.8rem;
    }

    /* Form Styles */

    .remember {
        font-size: .8em;
        display: flex;
        visibility:hidden;
        align-items: center;
        column-gap: 1%;
    }

    .forget {
        display: none;
        font-size: .8em;
        margin: 2% 8%;
    }

    input[type=reset],
    input[type=text] {
        color: black;
        border: none;
        border-bottom: 2px solid #00ABE4;
    }

    input[type=text]:focus {
        background-color: lightblue;
    }


    input[type=submit] {
        color: #000000;
        font-weight: lighter;
        background-color: white;
        box-shadow: 1px 3px 1px #00ABE4;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .personal-greeting {
        font-weight: bold;
        margin: 2%;
    }


    /* Pop-up Styles */
    .pop-up-div {
        background-color: #E9F1FA;
        border: 1px solid #00ABE4;
        color: black;
        position: absolute;
        top: 20%;
        padding: 3%;
        border-radius: 5px;
        transition: all 5s ease-in-out;
    }

    .pop-up-div p {
        text-align: center;
        font-size: 1em;
        margin: 10%;
    }

    .pop-up-div button {
        color: black;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #00ABE4;
        box-shadow: 1px 2px 1px #00ABE4;
        margin: 0 5%;
        margin-bottom: 2%;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.4s;
        cursor: pointer;
        padding: 2%;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        opacity: 1;
    }


    .change-choice-div {
        margin-top: 1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

    }

    .change-choice-div p {
        font-size: 0.8rem;
    }